.switching-button {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #6e48aa;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .switching-button:hover {
    background-color: #885ad2;
  }

  .container-chart {
    width: 50%;
    height: 300px;
    margin-bottom: 20px;
  }

  /* Media query for mobile-sized screens */
@media (max-width: 768px) {
  .container-chart {
    width: 90%;
    align-items: center; /* Center items vertically */
  }
}
  