.switching-button {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #136d2e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .switching-button:hover {
    background-color: #06531c;
  }

  .container-chart {
    
    height: 300px;
    margin-bottom: 20px;
  }
  